.container {
  position: relative;
  margin-top: 10vh;
  margin-top: 10svh;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 1%;
}

.text {
  flex: 1 1 0px;
  color: var(--lightBeige);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.threeD {
  flex: 1 1 0px;
  height: 100%;
  z-index: -100;
}

.text__aboutMe {
  text-transform: uppercase;
  font-family: "evermoreregular";
  padding: 1rem 0 0;
  overflow: hidden;
}

.text__aboutMe span {
  font-size: var(--fs-l);
  text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
  display: inline-block;
  color: var(--green);
  line-height: 7rem;
}

.text__aboutMe span:not(:first-child) {
  margin-left: -0.3em;
}

.text__aboutMe span:nth-child(6) {
  margin-left: 0.3em;
}



.text__uppercase span:nth-child(1) {
 
}



.text__bottom {
  width: fit-content;
}

.text__bottom h3 {
  font-size: var(--fs-600);
  font-weight: 400;
  letter-spacing: -1px;
}

@media (max-width: 1060px) {
  .container {
    flex-direction: column;
    margin-top: 20vh;
    margin-top: 20svh;
  }

  .text {
    flex: 0 0px;
  }

  .threeD {
    max-height: 30rem;
  }
}



@media (max-width: 460px) {


  .threeD {
    max-height: 23rem;
  }
}
