.container {
  position: relative;
  width: 100%;
  margin-top: 10vh;
  margin-top: 10svh;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 1%;
}

.text {
  flex: 1 1 0px;
  color: var(--lightBeige);
}

.threeD {
  flex: 1 1 0px;
  height: 100%;
  z-index: -100;
}

.text__uppercase {
  text-transform: uppercase;
}

.text__line {
  white-space: nowrap;
  font-size: 9rem;
  font-weight: 300;
  line-height: 10.5rem;
  background-color: rgb(29, 29, 29);
  letter-spacing: -3px;
  color: var(--green);
}

.text__uppercase span:nth-child(1) {
  margin-top: 2rem;
}

.text__uppercase span:nth-child(3) {
  letter-spacing: -7px;
  line-height: 7rem;
  background-color: transparent;
}

.text__bottom {
  position: relative;
  background-color: rgb(29, 29, 29);
  margin-top: -1.9rem;
  z-index: 1;
  margin-left: -0.1rem;
  width: fit-content;
}

.text__bottom h3 {
  font-size: 2.3rem;
  line-height: 2.6rem;
  font-weight: 400;
  letter-spacing: -1px;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

@media (max-width: 1060px) {
  .container {
    flex-direction: column;
    margin-top: 20vh;
    margin-top: 20svh;
  }

  .text {
    flex: 0 0px;
  }

  .threeD {
    max-height: 30rem;
  }
}

@media (max-width: 660px) {
  .text__line {
    font-size: 7rem;
  }

  .text__bottom h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 460px) {
  .text__line {
    font-size: 5rem;
    line-height: 8.5rem;
  }

  .threeD {
    max-height: 23rem;
  }
}
