@import url("https://fonts.cdnfonts.com/css/duckling");

.container {
  position: relative;
  top: 0%;
  height: 85vh;
  height: 85svh;
  margin-top: 30vh;
  margin-top: 30svh;
  width: 100%;
  color: var(--lightBeige);
  /* overflow: hidden; */
}

.container__wrapper {
  display: relative;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container__wrapper__text {
  padding: 1.5rem;
  width: 100%;
  text-align: left;
}

.text {
  max-width: 100%;
  color: var(--lightBeige);
}

.text__uppercase {
  text-transform: uppercase;
}

.text__line {
  white-space: nowrap;
  font-size: 9rem;
  font-weight: 300;
  line-height: 10.5rem;
  background-color: rgb(29, 29, 29);
  letter-spacing: -3px;
}

.text__uppercase span:nth-child(1) {
  margin-top: 2rem;
}

.text__uppercase span:nth-child(3) {
  letter-spacing: -7px;
  line-height: 7rem;
  background-color: transparent;
  color: var(--green);
}

.text__bottom {
  position: relative;
  background-color: rgb(29, 29, 29);
  margin-top: -1.9rem;
  z-index: 1;
  margin-left: -0.1rem;
  width: fit-content;
}

.text__bottom h3 {
  font-size: 3rem;
  line-height: 2.7rem;
  font-weight: 400;
  letter-spacing: -1px;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

/* TOPICS */

.text__topics__wrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 0.7rem;
  max-width: 70rem;
  width: 100%;
  flex-wrap: wrap;
}

.text__topics {
  text-align: center;
  height: 58px;
  font: normal normal 500 2em/1.7em "Oswald", sans-serif;
  overflow: hidden;
  min-width: fit-content;
  border-radius: 0.3rem;
  border: 1px solid var(--lightBeige);
  transition: all 0.3s ease-in-out;
  padding: 0 1rem;
}

.text__topics a {
  text-align: center;
  display: block;
}

.text__topics a:nth-child(1) {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 0em;
}

.text__topics:hover {
  outline: none;
}

.text__topics:hover a:nth-child(1) {
  margin-top: -1.7em;
}

.text__topics a:nth-child(2) {
  color: var(--green);
}

.wrapper__icons ul li:nth-child(5) {
  margin-left: auto;
  padding: 0rem 0rem 0.5rem;
}

@media (max-width: 600px) {
  .text__line {
    font-size: 7rem;
    line-height: 6.5rem;
  }

  .text__bottom h3 {
    font-size: 2.5rem;
  }

  .text__topics {
    height: 55px;
    font: normal normal 500 1.7em/1.7em "Oswald", sans-serif;
  }
}

@media (max-width: 400px) {
  .text__line {
    font-size: 4rem;
    line-height: 2.8rem;
  }

  .text__bottom h3 {
    font-size: 1.7rem;
  }

  .text__bottom {
    margin-top: -1rem;
  }

  .text__uppercase span:nth-child(3) {
    line-height: 5rem;
  }

  .text__topics {
    height: 42px;
    font: normal normal 500 1.3em/1.7em "Oswald", sans-serif;
  }
}
