.container {
  position: relative;
  top: 0%;
  height: 80vh;
  height: 80svh;
}

.container__wrapper {
  display: flex;
  top: 0%;
  width: 100%;
  padding: 2rem;
  height: 100%;
}

.container__header {
  position: absolute;
  top: 25%;
  font-size: 5rem;
  text-transform: uppercase;
  opacity: 0.3;
}

.container__text {
  margin-top: 6rem;
  font-size: 1.5rem;
  color: var(--lightBeige);
  width: 80%;
  margin-inline: auto;
  font-weight: 300;
}
