.container {
  position: relative;
  top: 0%;
  min-height: 85vh;
  min-height: 85svh;
  margin-top: 10vh;
  margin-top: 10svh;
  width: 100%;
  color: var(--lightBeige);
}

.container__wrapper {
  display: relative;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container__wrapper__text {
  padding: 1%;
  width: 100%;
  text-align: left;
}

.text {
  max-width: 100%;
  color: var(--lightBeige);
}

.text__connect {
  text-transform: uppercase;
  font-family: "evermoreregular";
  padding: 1rem 0.5rem 0;
  overflow: hidden;
}

.text__connect span {
  font-size: var(--fs-l);
  text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
  display: inline-block;
  color: var(--green);
}

.text__connect span:not(:first-child) {
  margin-left: -0.3em;
}

.text__bottom h3 {
  font-size: var(--fs-600);
  font-weight: 400;
  text-transform: uppercase;
}

/* TOPICS */

.text__topics__wrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 0.7rem;
  max-width: 70rem;
  width: 100%;
  flex-wrap: wrap;
}

.text__topics {
  text-align: center;
  height: 58px;
  font: normal normal 500 1.5em/1.6em "Oswald", sans-serif;
  overflow: hidden;
  min-width: fit-content;
  border-radius: 0.1rem;
  border: 1px solid var(--lightBeige);
  transition: all 0.3s ease-in-out;
  padding: 0 1rem;
}

.text__topics a {
  text-align: center;
  display: block;
}

.text__topics a:nth-child(1) {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 0em;
}

.text__topics:hover {
  outline: none;
}

.text__topics:hover a:nth-child(1) {
  margin-top: -1.6em;
}

.text__topics a:nth-child(2) {
  color: var(--green);
}

.wrapper__icons ul li:nth-child(5) {
  margin-left: auto;
  padding: 0rem 0rem 0.5rem;
}

@media (max-width: 600px) {
  .text__topics {
    height: 45px;
    font: normal normal 500 1.2em/1.6em "Oswald", sans-serif;
  }

  .text__topics:hover a:nth-child(1) {
    margin-top: -1.6em;
  }

  .container__wrapper__text {
    padding: 0 1rem;
  }

  .text__connect {
    padding: 1rem 0rem 0;
  }
}

@media (max-width: 445px) {
  .text__topics {
    height: 39px;
    font: normal normal 500 0.8em/2em "Oswald", sans-serif;
  }

  .text__topics:hover a:nth-child(1) {
    margin-top: -2em;
  }
}
