.container {
  position: relative;
  top: 0%;
  height: 13vh;
  height: 13svh;
  width: 100%;
  color: var(--lightBeige);
}

.container__wrapper {
  display: relative;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrapper__icons::before {
  content: "";
  display: block;
  width: 97.5%;
  left: 50%;
  transform: translate(-50%);
  height: 0.5px;
  background: var(--lightBeige);
  top: 0;
  position: absolute;
}

.wrapper__icons {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: fit-content;
  height: fit-content;
  color: var(--lightBeige);
  padding: 1rem 2% 0rem;
  width: 100%;
}

.wrapper__icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  list-style-type: none;
  margin-left: 0.5rem;
}

.wrapper__icons li a {
  cursor: pointer;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.contact__me {
  text-align: center;
  height: 58px;
  font: normal normal 500 2em/1.7em "Oswald", sans-serif;
  overflow: hidden;
  min-width: fit-content;
  border-radius: 0.3rem;
  border: 1px solid var(--lightBeige);
  transition: all 0.3s ease-in-out;
  padding: 0 1rem;
}

.contact__me {
  text-align: center;
  display: block;
}

.contact__me {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 0em;
}

.contact__me:hover {
  outline: none;
}

.contact__me:hover a:nth-child(1) {
  margin-top: -2.4em;
}

.contact__me a:nth-child(2) {
  color: var(--green);
}

.wrapper__icons ul li:nth-child(5) {
  margin-left: auto;
  padding: 0rem 0rem 0.5rem;
}

.wrapper__icons ul:hover li:nth-child(5) {
  transform: translateY(0rem);
}

@media (max-width: 800px) {
  .nameOfIcon {
    display: none;
  }
}

@media (max-width: 400px) {
  .contact__me {
    display: none;
  }

  .wrapper__icons ul {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 0rem;
  }

  .wrapper__icons ul li:nth-child(5) {
    display: none;
  }

  .wrapper__icons::before {
    width: 90%;
    top: -1rem;
  }

  .wrapper__icons {
    width: 100%;
    height: 4rem;
    padding: 1rem 2% 0rem;
    width: 100%;
  }
}
