.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  padding: 0 2rem;
  
}

.nav {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  max-width: 100rem;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: 10;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: fit-content;
}

.header ul li {
  text-transform: uppercase;
  font-size: 3rem;
  cursor: pointer;
}

.header ul li h4 {
  padding: 1rem;
}

.hamburger {
  z-index: 100;
}


.toBeige {
  color: #ffffff00;
  background: linear-gradient(90deg, var(--beige) 50%, var(--lightBeige) 0)
    var(--_p, 100%) / 200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 1.2s;
  
}

.toGreen {
  color: #ffffff00;
  background: linear-gradient(90deg, var(--green) 50%, var(--lightBeige) 0)
    var(--_p, 100%) / 200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 1.2s;
}

.toOrange {
  color: #ffffff00;
  background: linear-gradient(90deg, var(--orange) 50%, var(--lightBeige) 0)
    var(--_p, 100%) / 200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 1.2s;
}

.toPurple {
  color: #ffffff00;
  background: linear-gradient(90deg, var(--purple) 50%, var(--lightBeige) 0)
    var(--_p, 100%) / 200% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 1.2s;
}

.toBeige:hover,
.toOrange:hover,
.toGreen:hover,
.toPurple:hover {
  --_p: 0%;
}
