.container {
  width: 100%;
  top: 0%;
  min-height: 250vh;
  min-height: 250svh;
  position: relative;
  overflow: hidden;
  text-align: left;
  margin-bottom: 30vh;
}

.container__wrapper {
  display: flex;
  top: 0%;
  width: 100%;
  padding: 2rem;
  height: 100%;
  max-width: 1920px;
}

.container__images {
  flex: 1 1 0px;
  min-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 100;
}

.container__text {
  flex: 0.7 0.7 0px;
  height: 96vh;
  height: 96svh;
  color: var(--lightBeige);
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  z-index: -1;
  width: 37%;
  position: absolute;
}

.container__3D h1 {
  font-size: var(--fs-600);
  font-weight: 300;
  font-family: "evermoreregular";
  line-height: 6rem;
}

.container__text__about h3 span {
  padding: 0 0.7rem;
}

.container__images__wrapper {
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-out;
  overflow-x: hidden;
  position: absolute;
}

.container__images__wrapper img {
  max-width: 100%;
  display: block;
  /* position: relative; */
  z-index: 100;
}

.text {
  color: var(--lightBeige);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text__uppercase {
  text-transform: uppercase;
  color: var(--green);
  padding: 0 0 0 1rem;
}

.text__line {
  white-space: nowrap;
  font-size: var(--fs-600);
  font-weight: 300;
  letter-spacing: -1px;
}

.text h3:nth-child(2) {
  font-size: var(--fs-400);
  text-transform: uppercase;
  margin-top: -1.7rem;
  font-weight: 300;
  padding: 0 0 0 1rem;
}

.text__uppercase span:nth-child(3) {
  letter-spacing: -1px;
  background-color: transparent;
  color: var(--green);
  font-size: var(--fs-500);
}

.text__bottom {
  position: relative;
  z-index: 1;
  padding: 0 0 0 1rem;
  width: fit-content;
}

.text__bottom h3 {
  font-size: var(--fs-400);
  font-weight: 300;
}

.container__button__wrapper {
  padding: 2rem 0 0 1rem;
  width: fit-content;
  margin-bottom: 0.5rem;
}

.container__button__wrapper .contact__me a {
  cursor: pointer;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-size: clamp(0.1rem, 4vw + 1rem, 0.7rem);
}

.contact__me {
  text-align: center;
  height: 38px;
  font: normal normal 500 1em/1.7em "Oswald", sans-serif;
  overflow: hidden;
  min-width: fit-content;
  border-radius: 0.1rem;
  border: 1px solid var(--lightBeige);
  transition: all 0.3s ease-in-out;
  padding: 0 1rem;
}

.contact__me {
  text-align: center;
  display: block;
}

.contact__me {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 0em;
}

.contact__me:hover {
  outline: none;
}

.contact__me:hover a:nth-child(1) {
  margin-top: -2.9em;
  
}

.contact__me a:nth-child(2) {
  color: var(--green);
  transform: translateY(0rem);
}





@media (max-width: 830px) {
  .container__text {
    width: 90%;
  }

  .container__images__wrapper img {
    min-width: 20rem;
  }
}

@media (max-height: 850px) {
  .container__text {
    height: 93%;
  }
}

@media (max-width: 600px) {
  .text__bottom {
    padding: 0 0 0 0;
  }

  .container__wrapper {
    padding: 1rem
  }

  .container__text {
    width: fit-content;
  }

  .text__uppercase {
    text-transform: uppercase;
    color: var(--green);
    padding: 0rem;
  }

  .text h3:nth-child(2) {
    padding: 0rem;
  }

  .container__button__wrapper {
    padding: 2rem 0 0 0;
    width: fit-content;
  }

  .container__button__wrapper {
    padding: 1rem 0 0 0rem;
    width: fit-content;
    margin-top: auto;
    margin-bottom: 0.5rem;
  }
}


