@import url("https://fonts.cdnfonts.com/css/nheonxa-free-trial");

.container {
  width: 100%;
  top: 0%;
  margin-top: 5vh;
  margin-top: 5svh;
  min-height: 400vh;
  min-height: 400svh;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.container__wrapper {
  display: flex;
  top: 0%;
  width: 100%;
  padding: 2rem;
  height: 100%;
  max-width: 1980px;
}

.container__images {
  flex: 1 1 0px;
  min-width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container__text {
  flex: 0.7 0.7 0px;
  height: 90vh;
  height: 90svh;
  color: var(--lightBeige);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: #1d1d1d;
}

.container__text h4 {
  font-size: 1.7rem;
  font-weight: 400;
}

.container__3D {
  width: fit-content;
}

.container__3D h1 {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Nheonxa Free Trial", sans-serif;
}

.container__text__about h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.container__text__about h3 span {
  padding: 0 0.7rem;
}

.container__text h4 {
  text-transform: uppercase;
  margin-top: auto;
  width: fit-content;
}

.container__images__wrapper {
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-out;
  overflow-x: hidden;
  height: 80vh;
  height: 80svh;
  position: absolute;
}

.container__images__wrapper img {
  max-width: 100%;
  display: block;
}

.text {
  color: var(--lightBeige);
}

.text__uppercase {
  text-transform: uppercase;
}

.text__line {
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.5rem;
  background-color: rgb(29, 29, 29);
  letter-spacing: -1px;
}

.text__uppercase span:nth-child(1) {
  margin-top: 2rem;
}

.text__uppercase span:nth-child(3) {
  letter-spacing: -1px;
  line-height: 5.5rem;
  background-color: transparent;
  color: var(--green);
  font-size: 2.3rem;
}

.text__bottom {
  position: relative;
  background-color: rgb(29, 29, 29);
  margin-top: -1.9rem;
  z-index: 1;
  margin-left: 0.3em;
  width: fit-content;
}

.text__bottom h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

@media (max-width: 1314px) {
  .container__images {
    width: 100%;
    position: absolute;
    height: 96vh;
    height: 96svh;
    z-index: 100;
    right: 0;
  }

  .container__images__wrapper img {
    max-width: 100%;
    display: block;
    position: relative;
    z-index: 100;
  }

  .container__text {
    height: 96vh;
    height: 96svh;
    color: var(--lightBeige);
    gap: 5rem;
    z-index: -1;
    width: 20rem;
    position: absolute;
  }

  .text__uppercase span:nth-child(3) {
    font-size: 2rem;
  }

  .container {
    min-height: 500vh;
    min-height: 500svh;
  }

}


