
.container {
  width: 100%;
  top: 0%;
  min-height: 250vh;
  min-height: 250svh;
  position: relative;
  overflow: hidden;
  text-align: left;
  margin-bottom: 40vh;
}

.container__wrapper {
  display: flex;
  top: 0%;
  width: 100%;
  padding: 2rem;
  height: 100%;
  max-width: 1980px;
}

.container__images {
  flex: 1 1 0px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 100;
}

.container__text {
  flex: 0.7 0.7 0px;
  height: 96vh;
  height: 96svh;
  color: var(--lightBeige);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: #1d1d1d;
  z-index: -1;
  width: 37%;
  position: absolute;

}


.container__3D h1 {
  font-size: var(--fs-600);
  font-weight: 300;
  font-family: "evermoreregular";
  line-height: 6rem;
}


.container__text__about h3 span {
  padding: 0 0.7rem;
}


.container__images__wrapper {
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-out;
  overflow-x: hidden;
  position: absolute;
}

.container__images__wrapper img {
  max-width: 100%;
  display: block;
  position: relative;
  z-index: 100;
}

.text {
  color: var(--lightBeige);
  display: flex;
  flex-direction: column;
  gap: 4rem
}

.text__uppercase {
  text-transform: uppercase;
}

.text__line {
  white-space: nowrap;
  font-size: var(--fs-600);
  font-weight: 300;
  background-color: rgb(29, 29, 29);
  letter-spacing: -1px;
  
}


.text__uppercase span:nth-child(3) {
  letter-spacing: -1px;
  background-color: transparent;
  color: var(--green);
  font-size: var(--fs-500);
  
}

.text__bottom {
  position: relative;
  z-index: 1;
  padding: 0 0 0 1rem;
  width: fit-content;
}

.text__bottom h3 {
  font-size: var(--fs-400);
  font-weight: 300;
}


@media (max-width: 890px) {
  .container__text {
    width: 20rem;
  }
}

@media (max-width: 560px) {
  .container__text {
    width: 90%;
  }

  .container__images__wrapper img {
    min-width: 20rem;
  }
}

@media (max-width: 400px) {


}

@media (max-height: 850px) {
  .container__text {
    height: 93%;
  }
}
