@import url("https://fonts.cdnfonts.com/css/duckling");

.container {
  position: relative;
  top: 0%;
  height: 100vh;
  height: 100svh;
}

.container__wrapper {
  display: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.text {
  flex: 1 1 0px;
  color: var(--lightBeige);
  text-align: left;
  padding: 0 1rem 0 0;
}

.text__uppercase {
  text-transform: uppercase;
}

.text__line {
  white-space: nowrap;
  font-size: 9rem;
  font-weight: 300;
  line-height: 10.5rem;
  background-color: rgb(29, 29, 29);
  letter-spacing: -3px;
}

.text__uppercase span:nth-child(1) {
  margin-top: 2rem;
}

.text__uppercase span:nth-child(3) {
  letter-spacing: -7px;
  line-height: 0rem;
  background-color: transparent;
  color: var(--green);
}

.text__bottom {
  position: relative;
  background-color: rgb(29, 29, 29);
  margin-top: -1.9rem;
  z-index: 1;
  margin-left: -0.1rem;
  width: fit-content;
}

.text__bottom h3 {
  font-size: 2rem;
  line-height: 2.7rem;
  font-weight: 400;
  letter-spacing: -1px;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

.text__skills__wrapper {
  flex: 1 1 0px;
  height: 80%;
  padding: 0 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills3D {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 100;
}

.arrow {
  position: absolute;
  height: 45%;
  width: 30%;
  z-index: -1;
  bottom: 0;
  left: 30%;
  background-color: transparent;
}

.arrowSvg {
  position: relative;
  z-index: 1000;
}

.arrow h1 {
  position: absolute;
  bottom: 30%;
  font-family: "Duckling", sans-serif;
  transform: rotate(320deg);
  color: var(--lightBeige);
}

.text__line span:nth-child(1) {
  font-family: "Duckling", sans-serif;
  font-size: 3rem;
  color: var(--green);
}

@media (max-width: 1420px) {
  .container__wrapper {
    flex-direction: column;
  }

  .text__skills__wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    bottom: 0;
    z-index: 1000;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .skills3D {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 100;
  }

  .arrow {
    position: absolute;
    height: 45%;
    width: 30%;
    z-index: -1;
    bottom: 0;
    left: 30%;
  }
}

@media (max-width: 880px) {
  .skills3D {
    top: 40%;
  }
}

@media (max-width: 400px) {
  .skills3D {
    top: 50%;
  }
}

@media (max-width: 660px) {
  .text__line {
    font-size: 7rem;
  }

  .text__bottom h3 {
    font-size: 1.8rem;
  }

  .arrow h1 {
    font-size: 5vw;
  }
}

@media (max-width: 460px) {
  .text__line {
    font-size: 5rem;
    line-height: 8rem;
  }

  .text__bottom {
    margin-top: -1.1rem;
  }
}


