.hero {
  height: 90vh;
  height: 90svh;
  color: var(--lightBeige);
  padding: 0%;
  position: relative;
  padding: 1%;
  width: 100%;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.container__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0rem 5rem;
}

.container__two {
  position: absolute;
  right: 0;
  top: 10%;
}

.container__two__day {
  overflow: hidden;
}

.container__two__day h1 {
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
  font-weight: 300;
  font-family: "evermoreregular";
  margin-top: 65%;
}

.container__two__month {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: auto;
  overflow: hidden;
}

.container__two__month h1 {
  font-family: "ducklingregular";
  color: var(--green);
  font-size: var(--fs-600);
}

.container__two__month p {
  font-size: var(--fs-400);
}

.text {
  color: var(--lightBeige);
  font-family: "evermoreregular";
  width: fit-content;
  margin-top: auto;
  padding: 0 0 0 2rem;
}

.text span {
  font-size: var(--fs-xxl);
  text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
  display: inline-block;
}

.text span:not(:first-child) {
  margin-left: -0.3em;
}


@media (max-width: 600px) {
  .text {
    position: absolute;
    bottom: 100%;
    -webkit-transform: rotateZ(90deg);
    transform-origin: 0 100%;
    white-space: nowrap;
  }

  .container__two {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
  }

  .container__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0rem 0.5rem 0.5rem;
    height: fit-content;
    margin-top: auto;
  }

  .container__two__day {
    overflow: hidden;
    margin-bottom: auto;
  }

  .container__two__month p {
    font-size: 0.7rem;
  }

  .container__two__day h1 {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    font-weight: 300;
    font-family: "evermoreregular";
    margin-top: 2%;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .hero {
    height: 85svh;
  }

  .container__two {
    left: 0;
    top: 0;
  }

  .container__wrapper {
    justify-content: flex-start;
    padding: 0rem 1rem;
  }

  .container__two__day h1 {
    font-size: 2rem;
    margin-top: 2%;
  }

  .container__two__month h1 {
    font-size: var(--fs-400);
  }

  .container__two__month p {
    font-size: 0.7rem;
  }

  .text {
    padding: 0 0 0 1rem;
  }
}
