@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/duckling");
@import url("https://fonts.cdnfonts.com/css/nheonxa-free-trial");

.hero {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 90vh;
  height: 90svh;
  color: var(--lightBeige);
  padding: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 2rem;
  text-align: left;
  flex: 1 1 0px;
  height: 40rem;
}

.container__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding:0 5rem;
  
}

.container__two {
  flex: 1 1 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}

.container__two__day {
}

.container__two__day h1 {
  font-size: 15rem;
  font-weight: 300;
  font-family: 'Nheonxa Free Trial', sans-serif;
  line-height: 24rem;
}

.container__two__month {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5.5rem
}

.container__two__month h1 {
  font-family: "Duckling", sans-serif;
  color: var(--green);
}

.text {
  color: var(--lightBeige);
  position: relative;
  height: 100%;
}

.text__uppercase {
  text-transform: uppercase;
}

.text__line {
  /* white-space: nowrap; */
  font-size: 12.1rem;
  font-weight: 300;
  /* line-height: 4rem; */
  /* background-color: rgb(29, 29, 29); */
  letter-spacing: -14.2px;
  position: absolute;
  top: 16%;
}

.text__bottom {
  position: absolute;
  background-color: rgb(29, 29, 29);
  margin-top: -1.9rem;
  z-index: 1;
  margin-left: -0.1rem;
  /* width: fit-content; */
  top: 55%;
  height: 20rem;
}

.text__bottom h3 {
  font-size: 12rem;
  line-height: 9.3rem;
  font-weight: 300;
  letter-spacing: -9px;
  text-transform: uppercase;
}

.text__line span {
  color: var(--green);
  text-transform: lowercase;
  font-size: 3rem;
  font-family: "Duckling", sans-serif;
}


.container__two__svg {
  position: absolute;
  height: 100%;
  width: 65rem;
  top: 0;
  right: -50%;
  z-index: -1;
}