@import url("https://fonts.cdnfonts.com/css/duckling");

.logoInitial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  text-align: center;
  scale: 1;
  z-index: 100;
}

@keyframes animate {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
    transform: translate(-100%, -60%);
    scale: 0.3;
  }
}
