

.logoInitial {
  position: absolute;
  top: 0;
  left: 0;
  animation: animate .6s ease-in .6s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
  z-index: 100;
  width: 100%;
  height: 100%;
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



